@import "tailwindcss";

@theme {
  --color-primary: #ff0000;
  --color-secondary: #818cf8;
}



/* .custom-class {
  background-color: #ffffff;
  color: #111827;
}


 @media (prefers-color-scheme: dark) {
  .custom-class {
    background-color: #05112c;
    color: #ffffff;
  }
 } */